
*, html {
    padding:0;
    margin:0;
    background:#d5daf0;
}

#copete {
    text-align:center;
    font-size:20px;
}
#title {
    text-align:center;
    font-size:40px;
}
#space-between-title-and-rest{
    height:35px;
}

.song {
    padding-left:100px;

}
.gif_loader{
    display:none;
}
.song_link_div{
    text-align:left;
    padding-left:15%;
}
.song_compositions{
    display:none;
}
.play_img {
    margin-right:5px;
    margin-left:5px;
    cursor:pointer;
}

.stop_img {
    display:none;
    cursor:pointer;
    margin-right:5px;
    margin-left:5px;
}
#description-container {
    width:50%; 
    float:left;
    clear:both;
}
#player-container {
    width:50%;  
    float:left;
}

#space-after-player-description{
    height:20px;
}
    
#playlist{
    text-align:left;
    width:275px;
    padding-left:50%;

}
.song {
    padding-left:10px;
}


#player-description {
    margin-left:5%;
    margin-right:20%;
    text-align:justify;
}
#description {
    margin-left:20%;
    margin-right:5%;
    text-align:justify;
}

#title {
    font-family: Trebuchet, "Trebuchet", serif;
    font-size:30;
}
body {
    font-family: Georgia,Times,"Times New Roman",serif;
    color: #666;
}
