body {
    font-family: Georgia,Times,"Times New Roman",serif;
    color: #666;
    background:#d5daf0;
    color: #fff;
    font: 300 100.1% Fontin-Sans, "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
}
#wrapper {
    height: 50px;
    width: 640px;
}
